streamlit
langchain
langchain-community
langchain-core
langchain-chroma
langchain-huggingface
langchain-text-splitters
chromadb
sentence-transformers
openai
requests
beautifulsoup4
pypdf
pypdfium2
langdetect
python-dotenv
rank_bm25
numpy